{% extends 'store_app/base.html' %}

{% block title %}Интернет-магазин{% endblock %}

{% block content %}
    <main>
        <!-- ОПИСАНИЕ САЙТА -->
        <div class="container mt-5 text-center">
            <h1>ОПИСАНИЕ САЙТА — ......</h1>
        </div>

        <!-- ТОВАРЫ -->
        <div id="products" class="container mt-5">
            <div class="row justify-content-center gap-4">

                {% for product in products %}
                <!-- Товары, которые я раскидываю путем цикла, можно не добавлять в ручную -->
                <div class="product-wrapper col-md-3">

                    <div class="product-card">
                            <p> {{ product.name_product }} <br>
                            <small>{{ product.price }} </small>
                            </p>
                    </div>

                    <div class="product-control">
                            <button class="btn btn-secondary" onclick="changeCount({{ product.id }},-1)">–</button>
                            <span id="count{{ product.id }}">0</span>
                            <button class="btn btn-secondary" onclick="changeCount({{ product.id }},1)">+</button>
                    </div>
                    <a id="buy{{ product.id }}" href="{% url 'ordering' %}" class="btn btn-success mt-3 disabled-btn">Оформить</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}